# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# macOS folders
.Trashes
.Spotlight-V100
.fseventsd

# =========================
# IntelliJ / JetBrains
# =========================
.idea/
*.iml
*.ipr
*.iws
out/

# =========================
# Logs
# =========================
*.log

# =========================
# Temp files
# =========================
*.tmp
*.swp
*~

# =========================
# Node
# =========================
node_modules/

# =========================
# Build outputs
# =========================
dist/
build/

# =========================
# Env
# =========================
.env
.env.*

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# EXCEPTIONS
# =========================
# Ignore tools by default...
tools/

# ...but keep its contents tracked
!tools/
!tools/**
